.missions table {
  margin: auto;
  width: calc(100vw - 4rem);
  border-collapse: collapse;
}

.missions tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.missions.header {
  background-color: white;
}

.missions th,
.missions td {
  text-align: left;
  vertical-align: top;
  border: 2px solid #dee2e6;
  padding: 0.4rem;
}

.missions th {
  font-size: 1.3rem;
  font-weight: bold;
}

.missions thead th {
  border-bottom-width: 3px;
}

.missions td {
  padding-bottom: 1.6rem;
}

.missions .button-col {
  padding: 0.4rem;
  vertical-align: middle;
}

.missions button {
  margin: auto;
  border-radius: 0.3rem;
  width: max-content;
}

.missions .member {
  padding: 0.3rem;
  font-weight: bold;
  background-color: #6d757d;
  border: none;
  color: #f2f2f2;
}

.missions .active-member {
  background-color: #18a2b8;
}

.missions .join {
  padding: 0.4rem;
  background-color: transparent;
  color: #4b5156;
  border: 1px solid #4b5156;
}

.missions .joined {
  background-color: #e04f5c;
  color: #e04f5c;
}
