/* rockets */
.rocket_item {
  display: flex;
}

.rocket_images {
  width: 400px;
}

.rocket_image_container {
  margin-right: 2%;
  margin-bottom: 2%;
}

.rocket_paragraph_container {
  margin-top: -1.5%;
  margin-bottom: 2%;
}

.rocket_reserve {
  background: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1.5%;
}

.rocket_reserve.false {
  background: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1.5%;
}

.rocket_reserve.true {
  background: #fff;
  color: #888;
  font-weight: bold;
  border: solid 0.5px #888;
  padding: 1%;
}

.reserve_span {
  background: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 70%;
  border-radius: 4px;
  padding: 0.5%;
  margin-right: 1%;
}

@media (max-width: 768px) and (max-width: 1100px) {
  .rocket_item {
    display: flex;
    flex-direction: column;
  }

  .rocket_images {
    width: 100%;
  }
}
