body {
  font-size: 1.2rem;
}

header {
  display: flex;
  flex-direction: row;
}

img {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
}
