html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 3px solid #dee2e6;
}

.header_img {
  margin: 0 1rem;
  width: 50px;
  height: 50px;
}

ul {
  margin: 1rem 2rem;
  display: flex;
  list-style-type: none;
  padding-left: 0%;
}

li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #037cff;
}

.active {
  text-decoration: underline;
}
